body {
    background-color: #F5F1FF;
    color: #2D1E40;
    font-family: 'Gentium Book Plus';
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
}

h1 {
    color: #401B65;
    font-family: 'Amaranth';
    font-size: 3rem;
    margin-block-start: 2rem;
    margin-block-end: 0;
}

h2 {
    color: #401B65;
    font-family: 'Amaranth';
    font-variant: small-caps;
    font-weight: 400;
    font-size: 2rem;
    margin-block-start: 1rem;
    margin-block-end: 0;
}

h3 {
    color: #6741D9;
    font-style: italic;
    font-weight: 400;
    font-size: 1.75rem;
    margin-block-start: 1rem;
    margin-block-end: 0;
}

span.i {
    font-style: italic;
    font-variant: normal;
}

span.b {
    font-weight: bold;
}

span.bright {
    color: #6741D9;
}

h1.headline {
    font-size: 6rem;
    margin-block-end: 0;
}

h2.serif {
    font-family: "Gentium Book Plus";
    margin-block-start: 0;
}

h2.closing {
    margin-block-start: 0;
}

p {
    margin-top: .1rem;
    margin-block-end: 1rem;
}

li {
    margin-top: 0;
    margin-block-end: .5rem;
}

ul {
    margin-top: 0;
    margin-block-end: .5rem;
}

p.b {
    font-weight: bold;
}

a {
    color: #6741D9;
    font-weight: bold;
}

div.periwinkle {
    background-color: #DFC7FF;
    padding-block-start: .5rem;
    padding-block-end: 1rem;
    padding-left: 1em;
    padding-right: 1em;
}

img.headshot {
    width: 200px;
    border-radius: 12px;
    margin-bottom: 1rem;
    display: block;
}